[
  {
    "ente_publico": "SECRETARÍA EJECUTIVA DEL SISTEMA ESTATAL ANTICORRUPCIÓN",
    "clave": "SESEA_",
    "lugar": "Ciudad de México",
    "servidor_publico_recibe": {
      "nombre": "nombre apellidos",
      "cargo": "cargo"
    },
    "acuse": {
      "inicial": {
        "tipo_declaracion": "DECLARACIÓN INICIAL",
        "texto1_cuerpo_acuse": "CON ESTA FECHA SE RECIBIÓ SU DECLARACIÓN DE MODIFICACION, EN TÉRMINOS DE LA DECIMOPRIMERA DE LAS NORMAS E INSTRUCTIVO PARA EL LLENADO Y PRESENTACIÓN DEL FORMATO DE DECLARACIONES: DE SITUACIÓN PATRIMONIAL Y DE INTERESES, PUBLICADAS EN EL DIARIO OFICIAL DE LA FEDERACIÓN EL 23 DE SEPTIEMBRE DE 2019, PRESENTADA BAJO PROTESTA DE DECIR VERDAD, EN CUMPLIMIENTO A LO DISPUESTO EN LOS ARTÍCULOS, 108 DE LA CONSTITUCIÓN POLÍTICA DE LOS ESTADOS UNIDOS MEXICANOS, 32 Y 33 FRACCIÓN I, DE LA LEY GENERAL DE RESPONSABILIDADES ADMINISTRATIVAS, DE LA QUE SE ACUSA DE RECIBO.",
        "texto2_cuerpo_acuse": "LA DECLARACIÓN DE SITUACIÓN PATRIMONIAL Y DE INTERESES HA SIDO PRESENTADA DE MANERA ELECTRÓNICA."
      },
      "modificacion": {
        "tipo_declaracion": "DECLARACIÓN DE MOFICACIÓN",
        "texto1_cuerpo_acuse": "CON ESTA FECHA SE RECIBIÓ SU DECLARACIÓN DE MODIFICACION, EN TÉRMINOS DE LA DECIMOPRIMERA DE LAS NORMAS E INSTRUCTIVO PARA EL LLENADO Y PRESENTACIÓN DEL FORMATO DE DECLARACIONES: DE SITUACIÓN PATRIMONIAL Y DE INTERESES, PUBLICADAS EN EL DIARIO OFICIAL DE LA FEDERACIÓN EL 23 DE SEPTIEMBRE DE 2019, PRESENTADA BAJO PROTESTA DE DECIR VERDAD, EN CUMPLIMIENTO A LO DISPUESTO EN LOS ARTÍCULOS, 108 DE LA CONSTITUCIÓN POLÍTICA DE LOS ESTADOS UNIDOS MEXICANOS, 32 Y 33 FRACCIÓN II, DE LA LEY GENERAL DE RESPONSABILIDADES ADMINISTRATIVAS, DE LA QUE SE ACUSA DE RECIBO.",
        "texto2_cuerpo_acuse": "LA DECLARACIÓN DE SITUACIÓN PATRIMONIAL Y DE INTERESES HA SIDO PRESENTADA DE MANERA ELECTRÓNICA."
      },
      "conclusion": {
        "tipo_declaracion": "DECLARACIÓN DE CONCLUSIÓN",
        "texto1_cuerpo_acuse": "CON ESTA FECHA SE RECIBIÓ SU DECLARACIÓN DE MODIFICACION, EN TÉRMINOS DE LA DECIMOPRIMERA DE LAS NORMAS E INSTRUCTIVO PARA EL LLENADO Y PRESENTACIÓN DEL FORMATO DE DECLARACIONES: DE SITUACIÓN PATRIMONIAL Y DE INTERESES, PUBLICADAS EN EL DIARIO OFICIAL DE LA FEDERACIÓN EL 23 DE SEPTIEMBRE DE 2019, PRESENTADA BAJO PROTESTA DE DECIR VERDAD, EN CUMPLIMIENTO A LO DISPUESTO EN LOS ARTÍCULOS, 108 DE LA CONSTITUCIÓN POLÍTICA DE LOS ESTADOS UNIDOS MEXICANOS, 32 Y 33 FRACCIÓN II, DE LA LEY GENERAL DE RESPONSABILIDADES ADMINISTRATIVAS, DE LA QUE SE ACUSA DE RECIBO.",
        "texto2_cuerpo_acuse": "LA DECLARACIÓN DE SITUACIÓN PATRIMONIAL Y DE INTERESES HA SIDO PRESENTADA DE MANERA ELECTRÓNICA."
      }
    },
    "declaracion": {
      "subtitulo": "DECLARACIÓN PATRIMONIAL Y DE INTERESES",
      "inicial": {
        "tipo_declaracion": "DECLARACIÓN INICIAL",
        "texto_declaratoria": "BAJO PROTESTA DE DECIR VERDAD, PRESENTO A USTED MI DECLARACIÓN PATRIMONIAL Y DE INTERESES, CONFORME A LO DISPUESTO EN LOS ARTÍCULOS, 108 DE LA CONSTITUCIÓN POLÍTICA DE LOS ESTADOS UNIDOS MEXICANOS, 32 Y 33 FRACCIÓN I, DE LA LEY GENERAL DE RESPONSABILIDADES ADMINISTRATIVAS."
      },
      "modificacion": {
        "tipo_declaracion": "DECLARACIÓN DE MODIFICACIÓN",
        "texto_declaratoria": "BAJO PROTESTA DE DECIR VERDAD, PRESENTO A USTED MI DECLARACIÓN PATRIMONIAL Y DE INTERESES, CONFORME A LO DISPUESTO EN LOS ARTÍCULOS, 108 DE LA CONSTITUCIÓN POLÍTICA DE LOS ESTADOS UNIDOS MEXICANOS, 32 Y 33 FRACCIÓN II, DE LA LEY GENERAL DE RESPONSABILIDADES ADMINISTRATIVAS."
      },
      "conclusion": {
        "tipo_declaracion": "DECLARACIÓN DE CONCLUSIÓN",
        "texto_declaratoria": "BAJO PROTESTA DE DECIR VERDAD, PRESENTO A USTED MI DECLARACIÓN PATRIMONIAL Y DE INTERESES, CONFORME A LO DISPUESTO EN LOS ARTÍCULOS, 108 DE LA CONSTITUCIÓN POLÍTICA DE LOS ESTADOS UNIDOS MEXICANOS, 32 Y 33 FRACCIÓN III, DE LA LEY GENERAL DE RESPONSABILIDADES ADMINISTRATIVAS."
      }
    }
  }
]